button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    background-color: aliceblue;
    opacity: 0.5;
}

label{
    color: blue;
}

.btn-default {
    color: black;
    font-size: medium;
}

body {
	background-image: url("../images/mickey.jpg");
    font-family: 'Merienda', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}

#form {
    text-align: center;
    font-size: 35px;
}
